form {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(47, 255, 0, 0.825);
}
  
div {
    margin: 10px;
}
  
label {
    display: inline-block;
    width: 120px;
}
  
input[type=text], input[type=email], input[type=password] {
    width: 240px;
    padding: 5px;
    border: 1px solid #000000;
}
  
input[type=checkbox] {
    margin-left: 120px;
}
  
button {
    width: 120px;
    margin-left: 120px;
    padding: 10px;
    background-color: #0099ff;
    color: rgb(255, 255, 255);z
    border: none;
}


